<!DOCTYPE html>
<html>
  <head>
    <title>Quran Audio Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> </head>
  </head>
  
<body>
  <div id="rectangle">
    <h2>Quran Audio List Generator</h2> 

    <div class="line">
      <button id="generateRadioListBtn">Generate Live Radio List</button>
    </div>

    <div class="line">
      <label for="surahCollections">Surah Collections (numbers separated by : OR , ):</label>
      <input type="text" id="surahCollections">
      <button id="Generate_Surah">Generate</button>
    </div>

    <div class="line">
      <span>Start Surah:</span>
      <input type="number" id="startSurah" min="1" max="114">
      <span>Start Ayah:</span>
      <input type="number" id="startAyah">
    </div>

    <div class="line">
      <span>End Surah:</span>
      <input type="number" id="endSurah" min="1" max="114">
      <span>End Ayah:</span>
      <input type="number" id="endAyah">
      <button id="Generate_Ayat" onclick="validateAndPlay()">Generate</button>
    </div>
  </div>

  <script>
    document.getElementById("generateRadioListBtn").addEventListener("click", function() {
      fetch('/generate_radio_list', { 
          method: 'POST'
      })
      .then(response => {
          if (!response.ok) {
              throw new Error('Network response was not ok.');
          }
          return response.blob(); // Get the file data as a Blob
      })
      .then(blob => {
          const url = window.URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.style.display = 'none';
          a.href = url;
          a.download = `radio_list.m3u`; 
          document.body.appendChild(a);
          a.click();
          window.URL.revokeObjectURL(url);
      })
      .catch(error => {
          console.error('There has been a problem with your fetch operation:', error);
          alert("Error generating radio list. Please try again.");
      });
  });

    document.getElementById("Generate_Surah").addEventListener("click", function() {
            const surahCollections = document.getElementById("surahCollections").value;

            fetch('/generate_quran_list', { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ surahCollections: surahCollections })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok.');
                }
                return response.blob();
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                // Generate the file name based on the surahCollections input
                const formattedSurahCollections = surahCollections.replace(/:/g, 'to_S').replace(/,/g, 'and_S');
                const fileName = `quranList_S${formattedSurahCollections}.m3u`;
                a.download = fileName;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
                alert("Error generating radio list. Please try again.");
            });
        });
  
        document.getElementById("Generate_Ayat").addEventListener("click", function() {
          const startSurah = parseInt(document.getElementById("startSurah").value);
          const endSurah = parseInt(document.getElementById("endSurah").value);
          const startAyah = parseInt(document.getElementById("startAyah").value);
          const endAyah = parseInt(document.getElementById("endAyah").value);
            fetch('/generate_ayat_list', { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                  startSurah: startSurah,
                  endSurah: endSurah,
                  startAyah: startAyah,
                  endAyah: endAyah
                 })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok.');
                }
                return response.blob();
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                // Generate the file name based on the surahCollections input
                const formattedSurahCollections = surahCollections.replace(/:/g, '-').replace(/,/g, '_');
                const fileName = `quranList_S${formattedSurahCollections}.m3u`;
                a.download = fileName;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
                alert("Error generating radio list. Please try again.");
            });
        });
    function validateAndPlay() {
      const startSurah = parseInt(document.getElementById("startSurah").value);
      const endSurah = parseInt(document.getElementById("endSurah").value);
      const startAyah = parseInt(document.getElementById("startAyah").value);
      const endAyah = parseInt(document.getElementById("endAyah").value);

      if (startSurah < 1 || startSurah > 114 || endSurah < 1 || endSurah > 114) {
          alert("Please enter valid surah numbers between 1 and 114.");
          return;
      }

      if (isNaN(startAyah) || isNaN(endAyah)) {
          alert("Please enter valid ayah numbers.");
          return;
      }

      // Your logic to handle the playback or further processing
      console.log(`Start Surah: ${startSurah}, End Surah: ${endSurah}, Start Ayah: ${startAyah}, End Ayah: ${endAyah}`);
  }
  </script>
</body>
</html>